@using Kendo.Mvc.UI
@{ ViewData["Title"] = "Resource Library";

    Layout = "~/Views/Shared/_Layout_Portal.cshtml";

    var permissions = (portal.models.RoleAdmin.Permissions)ViewBag.Permissions;

    var canRoleManagerAccessResourselibrary = (permissions == null) ? false : (bool)permissions["AC_RSL"];
    var acceptDocumentTypes = ViewBag.acceptDocumentTypes;
    var isMultipleDocumentUpload = ViewBag.isMultipleDocumentUpload;
    var maxDocumentUpload = ViewBag.maxDocumentUpload;
    var maxDocumentFileSize = ViewBag.maxDocumentFileSize;
    }
<style>
    .link-text:hover {
        color: #22b9ff !important;
    }

    .kt-portlet .kt-portlet__foot {
        padding: 10px 5px 10px 10px !important;
    }

    .k-grid-header .k-filterable, .k-grid-header .k-with-icon {
        padding-right: calc(1px + .5rem + 1.5em + .5rem);
    }
</style>

<div class="content" id="dv_Portal_ResourceLibrary">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <label id="lblUserHeader" style="font-size: large;font-weight:500;margin-left:-10px;margin-top:20px;">Resource Library</label>
            <div class="kt-portlet__head-toolbar">


       

            </div>
        </div>
        <section class="content">
            <div class="kt-portlet__body">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-lg-9">

                        </div>
                        @*<div class="col-lg-3">
                                <input class="form-control" placeholder="Search Company" style="margin-bottom:10px;" id="search" type="text" autocomplete="off" />
                            </div>*@

                    </div>

                    <div class="" v-for="cat in Category">
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        {{cat.DocCat_Title}}
                                        <span class="kt-widget20__number kt-font-brand"></span>
                                    </h3>
                                </div>
                            </div>
                           <div>
                               <table class="table table-bordered">
                                   <thead>
                                       <tr>
                                           <th style="width:40%">Title</th>
                                           <th style="width:20%">Date</th>
                                           <th style="width:15%">Version</th>
                                           <th style="width:20%">Action</th>
                                       </tr>
                                       
                                   </thead>
                                   <tbody>
                                       <tr v-for="item in cat.documents">
                                           <td>{{item.FileName}}</td>
                                           <td>{{item.FileDate}}</td>
                                           <td>{{item.Docs_Version}}</td>
                                           <td><a class='kt-font-primary' style='cursor:pointer;' v-on:click="downlaodFile(item.FilePath)" title='Downlaod'> <span style='text-align:center;' class='fa fa-download'></span></a></td>
                                       </tr>
                                   </tbody>
                               </table>
                           </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>


   
</div>

<script>
    var _canRoleManagerAccessResourselibrary;

        $(document).ready(function () {

            _canRoleManagerAccessResourselibrary = @canRoleManagerAccessResourselibrary.ToString().ToLower();


            if (!_canRoleManagerAccessResourselibrary) {
                window.location.href = '/Error/PermissionDenied';
            }
        })

</script>

@section Scripts{
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/vue/vuelidate.min.js"></script>
    <script src="~/lib/vue/validators.min.js"></script>
    @*<script src="~/js/Portal/Index.js"></script>*@
<script src="~/js/Portal/ResourceLibrary/Manage.js"></script>
}