<div class="box-header with-border">
    @(Html.Kendo().Grid<ds.portal.applications.invites.Models.AppInvites>()
        .Name("templateGrid")
        .Columns(columns =>
        {
            columns.Template("<div class='gridactionbuttonscontainer'><a class='kt-font-brand' style='cursor:pointer;' onclick=PerformInviteEdit('#:api_id#') title='Edit'><span style='text-align:center;' class='fa fa-pen'></span></a>" +
                                "&nbsp;&nbsp;<a class='kt-font-success' style='cursor:pointer;'onclick=PerformInviteView('#:api_id#') title='View'> <span style='text-align:center;' class='fa fa-eye'></span></a>" +
                                "&nbsp;&nbsp;<a class='kt-font-warning' style='cursor:pointer;'onclick=PerformInviteResend('#:api_id#') title='Resend'> <span style='text-align:center;' class='fa fa-envelope'></span></a>" +
                                "&nbsp;&nbsp;<a class='kt-font-danger' style='cursor:pointer;'onclick=PerformInviteDelete('#:api_id#') title='Delete'> <span style='text-align:center;' class='fa fa-trash-alt'></span></a>" +
                                "</div>").Width(110).ClientHeaderTemplate(" ");
            columns.Bound(p => p.api_id).Title("Id").Width(70);
            columns.Bound(p => p.api_firstname).Title("First Name");
            columns.Bound(p => p.api_lastname).Title("Surname");
            columns.Bound(p => p.api_email).Title("Email");
            columns.Bound(p => p.api_courseleveltitle).Title("Course Level");
            columns.Bound(p => p.api_isactivated).ClientTemplate("<input class='k-checkbox-label k-no-text' disabled type='checkbox' #= api_isactivated == 1 ? checked='checked' :'' # />").Title("Logged").HtmlAttributes(new { style = "text-align:center" }).Width(90);
            columns.Bound(p => p.api_hasapplications).ClientTemplate("<input class='k-checkbox-label k-no-text' disabled type='checkbox' #= api_hasapplications == 1 ? checked='checked' :'' # />").Title("Enroll").HtmlAttributes(new { style = "text-align:center" }).Width(90);
            columns.Bound(p => p.api_datecreated).Format("{0:dd/MM/yyyy}").Title("Sent").Width(80);
        })
        .Resizable(resize => resize.Columns(true))
 .Reorderable(x => x.Columns(true))
 .ColumnMenu(c => c.Columns(true))
        .Sortable()
        .Pageable()
        .Filterable()
        .NoRecords()
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(dataSource =>
        dataSource
        .WebApi()
        .Model(model =>
        {
            model.Id(p => p.api_id);
        })
        .Events(events => events.Error("error_handler"))
        .Read(read => read.Action("GetAllApplicationInvites", "ApplicationInviteApi"))
        .PageSize(20)
        )
    )

</div>