
@{ ViewData["Title"] = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>

    .form-group {
        margin-bottom: 1rem !important;
    }

        .form-group.required .control-label:after {
            content: "*";
            color: red;
        }
</style>

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet" id="kt_portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-menu__link-icon fa fa-tasks"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            My Tasks
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <a style="cursor:pointer;color: white;" onclick="return CreateTask()" class="btn btn-brand btn-elevate btn-sm">
                            <i class="la la-plus"></i>
                            Add Event
                        </a>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div id="kt_calendar" class="fc fc-ltr fc-unthemed" style="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="/Views/Shared/partials/_task.cshtml" />
<link href="~/Theme/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" />


@section Scripts{
    <script src="~/js/Admin/MyTask/Task.js"></script>

}




