
@*<div class="row text-center" style="width: 100% !important;">
    <partial name="_CookieConsentPartial" />
</div>*@

@*<script>
    $(document).ready(function () {
        $("#kt_modal_AcceptCookie").modal("show");
    });
</script>*@