
@{
    ViewData["Title"] = "Progress";
    Layout = "~/Views/Shared/_Layout_AppPortal.cshtml";

    var app_Id = ViewBag.App_Id;
}
<style>
    /*@@media (max-width: 1500px) {
        .kt-wizard-v1 .kt-wizard-v1__wrapper .kt-form {
            width: 90%;
            padding: 2rem 1rem 4rem;
        }
    }

    @@media (max-width: 1280px) {
        .kt-wizard-v1 .kt-wizard-v1__wrapper .kt-form {
            width: 99%;
            padding: 2rem 1rem 4rem;
        }
    }*/
    .form-group {
        margin-bottom: 1rem;
    }
    .inputstyle{
        margin-left:10px;
        margin-right:10px;
    }
    .kt-wizard-v1 .kt-wizard-v1__wrapper .kt-form .kt-wizard-v1__content .kt-wizard-v1__form {
        margin-top: 0rem;
    }
</style>
<div class="content" id="dv_Manage_Application">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <label style=" font-size: large; font-weight: 500; margin-left: -10px; margin-top: 20px;">Application Progress</label>
        </div>
        <div class="kt-portlet__body">

            <div class="box-header with-border">
                <div class="kt-grid kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1" data-ktwizard-state="step-first">
                    <div class="kt-grid__item">

                        <!--begin: Form Wizard Nav -->
                        <div class="kt-wizard-v1__nav">

                            <!--doc: Remove "kt-wizard-v1__nav-items--clickable" class and also set 'clickableSteps: false' in the JS init to disable manually clicking step titles -->
                            <div class="kt-wizard-v1__nav-items kt-wizard-v1__nav-items--clickable">
                                <div v-for="(appStep, index) in ApplicationSteps" class="kt-wizard-v1__nav-item" data-ktwizard-type="step">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i v-bind:class="appStep.as_icon"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label">
                                            <div v-text="index+1 + '. ' + appStep.as_title">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step">
                                    <div class="kt-wizard-v1__nav-body">
                                        <div class="kt-wizard-v1__nav-icon">
                                            <i class="flaticon-globe"></i>
                                        </div>
                                        <div class="kt-wizard-v1__nav-label">
                                            {{ ApplicationSteps.length + 1 }}. Confirmation and Submit
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <!--end: Form Wizard Nav -->
                    </div>
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">

                        <!--begin: Form Wizard Form-->
                        <form class="kt-form" id="kt_form">
                            <template v-for="(appStep, index) in ApplicationSteps">
                                <!--begin: Form Wizard Step {{index}}-->

                                <div  class="kt-wizard-v1__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                    <template v-for="appSection in appStep.applicationsections">
                                        <div class="kt-portlet kt-portlet--bordered">
                                            <div >
                                                <div class="kt-portlet__head-label">
                                                    <h3 class="kt-portlet__head-title" style="margin-top:10px;margin-left:10px;" v-text="appSection.ase_title"></h3>
                                                    <hr />
                                                    </div>
                                                </div>

                                                    <div class="kt-form__section kt-form__section--first">
                                                        <div class="kt-wizard-v1__form">
                                                            <template v-for="appQuestion in appSection.applicationquestions">


                                                                <div class="form-group inputstyle" v-if="appQuestion.q_type == 1">
                                                                    <div>
                                                                        <label v-text="appQuestion.q_title"></label>
                                                                        <input type="text" class="form-control" ref='inp' v-model="appQuestion.answer" v-on:blur="handleBlur" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname">
                                                                        <span :id="appQuestion.q_mapname +'1'" style="color:red;"></span>
                                                                        <span :id="appQuestion.q_mapname +'2'" style="color:red;"></span>

                                                                    </div>
                                                                </div>
                                                                <div class="form-group inputstyle" v-if="appQuestion.q_type == 2">
                                                                    <label v-text="appQuestion.q_title"></label>
                                                                    <textarea class="form-control" v-model="appQuestion.answer" v-on:blur="handleBlur" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname"></textarea>
                                                                    <span :id="appQuestion.q_mapname +'1'" style="color:red;"></span>
                                                                    <span :id="appQuestion.q_mapname +'2'" style="color:red;"></span>

                                                                </div>
                                                                <div class="form-group inputstyle" v-if="appQuestion.q_type == 3">
                                                                    <label v-text="appQuestion.q_title"></label>
                                                                    <div>
                                                                        <select class="form-control" v-model="appQuestion.answer" v-on:blur="handleBlur" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname">
                                                                            <option v-for="data in appQuestion.q_ddldata" v-bind:value="data.opt_value" v-text="data.opt_title"></option>
                                                                        </select>
                                                                        <span :id="appQuestion.q_mapname +'1'" style="color:red;"></span>
                                                                        <span :id="appQuestion.q_mapname +'2'" style="color:red;"></span>

                                                                    </div>
                                                                </div>
                                                                <div class="form-group inputstyle" v-if="appQuestion.q_type == 4">
                                                                    <label v-text="appQuestion.q_title"></label>
                                                                    <div>
                                                                        <select class="form-control" v-model="appQuestion.answer" v-on:blur="handleBlur" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname">
                                                                            <option value="null">Please select</option>
                                                                            <option value="1">Yes</option>
                                                                            <option value="0">No</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group inputstyle" v-if="appQuestion.q_type == 5">
                                                                    <label v-text="appQuestion.q_title"></label>
                                                                    <div class="input-group ">
                                                                        <input type="date" class="form-control" v-on:blur="handleBlur" v-model="appQuestion.answer" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname">


                                                                    </div>
                                                                    <span :id="appQuestion.q_mapname +'1'" style="color:red;"></span>
                                                                    <span :id="appQuestion.q_mapname +'2'" style="color:red;"></span>

                                                                </div>
                                                                <div class="form-group inputstyle" v-if="appQuestion.q_type == 6">
                                                                    <label v-text="appQuestion.q_title"></label>
                                                                    <input type="text" class="form-control" v-model="appQuestion.answer" v-on:blur="handleBlur" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname">
                                                                </div>
                                                                <div class="form-group inputstyle" v-if="appQuestion.q_type == 7">
                                                                    <label v-text="appQuestion.q_title"></label>
                                                                    <input type="text" class="form-control" v-model="appQuestion.answer" v-on:blur="handleBlur" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname">
                                                                </div>
                                                                <div class="form-group inputstyle" v-if="appQuestion.q_type == 8">
                                                                    <div class="row">
                                                                        <div class="col-lg-8">
                                                                            <label v-text="appQuestion.q_title"></label>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <div class="form-control">
                                                                                <label style="margin-bottom: 15px;" class="kt-checkbox kt-checkbox--bold kt-checkbox--success">
                                                                                    <input type="checkbox" v-model="appQuestion.answer" v-on:input="checkedLearner" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname">
                                                                                    <span></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group inputstyle" v-if="appQuestion.q_type == 9">
                                                                    <label v-text="appQuestion.q_title"></label>
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <div class="form-control">
                                                                                <label>
                                                                                    <input type="file" v-model="appQuestion.answer" ref="file" @@change="previewFiles" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname">
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-6" v-if="appQuestion.bin_answer != null">
                                                                            <div v-show="false">
                                                                                {{fileData=appQuestion.bin_answer }}
                                                                                {{file_extension= appQuestion.q_file_extension}}
                                                                                {{fileName=appQuestion.q_title}}
                                                                            </div>
                                                                            <button type="button" class="btn btn-primary" v-model="appQuestion.bin_answer" v-on:click="downloadFile" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname">Download</button>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group" v-if="appQuestion.q_type == 10">
                                                                    <div class="row">
                                                                        <label class="col-lg-4 col-form-label" v-text="appQuestion.q_title"></label>
                                                                        <div class="col-lg-8">
                                                                            <select class="form-control" v-on:blur="handleBlur" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname" v-model="appQuestion.answer">
                                                                                <option v-for="level in CourseLevel" v-bind:value="level.CL_Id" v-text="level.CL_Title"></option>

                                                                            </select>



                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group inputstyle" v-if="appQuestion.q_type == 11">
                                                                    <label v-text="appQuestion.q_title"></label>
                                                                    <div v-for="data in appQuestion.q_ddlMultiCheck">
                                                                        <div>

                                                                            <div class="col-lg-6">
                                                                                <div class="form-control">
                                                                                    <label style="margin-bottom: 15px;" class="kt-checkbox kt-checkbox--bold kt-checkbox--success">
                                                                                        <input type="checkbox" :id="appQuestion.q_mapname" v-model="data.Check_Value" v-on:input="checkedLearnerMulti" :name="data.Opt_Value">{{data.Opt_Title}}
                                                                                        <span></span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>


                                                                        </div>


                                                                    </div>
                                                                </div>

                                                                <div v-if="appQuestion.q_type == 12">
                                                                    <p v-html="appQuestion.q_html_lable"></p>

                                                                </div>

                                                                <div v-if="appQuestion.q_type == 13">
                                                                    <div class="col-lg-6">
                                                                        <input style="margin-bottom:10px;" type="text" @@keyup="txtPrintName($event)" :id="printName" :value="printName" class="form-control input-sm" placeholder="type your full name...">
                                                                        <span style="margin-bottom:10px;" id="btnClearPrintName" class="btn btn-primary">Clear Print Name</span>
                                                                    </div>
                                                                    <div id="panel_signature">
                                                                        <!-- Please sign in the box: -->

                                                                        <div class="">
                                                                            <div class="signature_wrapper">
                                                                                <div class="wrapper">
                                                                                    <canvas id="signaturepad" class="signature-pad" width="500" height="100"></canvas>
                                                                                </div>
                                                                            </div>
                                                                            <div>
                                                                                <br />
                                                                                <input type="hidden" id="sketch_data" name="sketch_data" />
                                                                                <input type="hidden" id="hid_printname" name="hid_printname" />
                                                                                <input type="hidden" id="hid_dt" name="hid_dt" />
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                            </template>
                                                        </div>
                                                    </div>
                                                </div>
</template>

                                    <!--end: Form Wizard Step {{index}}-->

                                </div>
                            </template>

                            <!--begin: Form Wizard Step 5-->
                            <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">Review your Details and Submit</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__review">
                                        <div class="kt-wizard-v1__review-item">
                                            <p>
                                                Please Note: By clicking SUBMIT you are confirming that all of the information in which you have provided is correct.
                                                The application form will take the information exactly as you have input it.
                                                Please check now and correct any spelling mistakes or errors before authorising your submission.
                                            </p>
                                            <div class="accordion  accordion-toggle-arrow" id="accordionExample6">
                                                <template v-for="(appStep, index) in ApplicationSteps">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <div class="card-title collapsed" data-toggle="collapse" :data-target="'#collapseOne'+index" aria-expanded="false" :aria-controls="'collapseOne'+index">
                                                                <i v-bind:class="appStep.as_icon"></i> <span v-text="index+1 + '. ' + appStep.as_title"></span>
                                                            </div>
                                                        </div>
                                                        <div :id="'collapseOne'+index" class="collapse" aria-labelledby="headingOne6" data-parent="#accordionExample6" style="">
                                                            <div class="card-body">
                                                                <template v-for="appSection in appStep.applicationsections">
                                                                    <template v-for="appQuestion in appSection.applicationquestions">

                                                                        <div class="form-group row" v-if="appQuestion.q_type == 1">
                                                                            <label class="col-lg-8 col-form-label" v-text="appQuestion.q_title"></label>
                                                                            <div class="col-lg-4">
                                                                                <input type="text" class="form-control" v-model="appQuestion.answer" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname" disabled>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row" v-if="appQuestion.q_type == 2">
                                                                            <label class="col-lg-8 col-form-label" v-text="appQuestion.q_title"></label>
                                                                            <div class="col-lg-4">
                                                                                <textarea class="form-control" v-model="appQuestion.answer" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname" disabled></textarea>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row" v-if="appQuestion.q_type == 3">
                                                                            <label class="col-lg-8 col-form-label" v-text="appQuestion.q_title"></label>
                                                                            <div class="col-lg-4">
                                                                                <select class="form-control" v-model="appQuestion.answer" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname" disabled>
                                                                                    <option v-for="data in appQuestion.q_ddldata" v-bind:value="data.opt_value" v-text="data.opt_title"></option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row" v-if="appQuestion.q_type == 4">
                                                                            <label class="col-lg-8 col-form-label" v-text="appQuestion.q_title"></label>
                                                                            <div class="col-lg-4">
                                                                                <select class="form-control" v-model="appQuestion.answer" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname" disabled>
                                                                                    <option value="null">Please select</option>
                                                                                    <option value="1">Yes</option>
                                                                                    <option value="0">No</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row" v-if="appQuestion.q_type == 5">
                                                                            <label class="col-lg-8 col-form-label" v-text="appQuestion.q_title"></label>
                                                                            <div class="col-lg-4">
                                                                                <div class="input-group ">
                                                                                    <input type="date" class="form-control" v-model="appQuestion.answer" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname" disabled>
                                                                                    <div class="input-group-append">
                                                                                        @*<span class="input-group-text">
                                                                                            <i class="la la-calendar"></i>
                                                                                        </span>*@
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group" v-if="appQuestion.q_type == 8">
                                                                            <label v-text="appQuestion.q_title"></label>
                                                                            <div class="form-control">
                                                                                <label class="kt-checkbox kt-checkbox--bold kt-checkbox--success">
                                                                                    <input type="checkbox" v-model="appQuestion.answer" v-on:input="checkedLearner" :id="appQuestion.q_mapname" :name="appQuestion.q_mapname" disabled>
                                                                                    <span></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </template>
                                                                </template>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </template>
                                            </div>
                                            <br />

                                       

                                        </div>

                                    </div>
                                </div>
                                <div class="alert alert-secondary" role="alert">
                          
                                    <div class="alert-text">
                                        <template v-for="item in ConfirmQuestion">

                                            <div v-if="item.q_type == 12">
                                                <p v-html="item.q_html_lable"></p>

                                            </div>


                                            <div class="form-group inputstyle" v-if="item.q_type == 1">
                                                <div>
                                                    <label v-text="appQuestion.q_title"></label>
                                                    <input type="text" class="form-control" ref='inp' v-model="item.answer" v-on:blur="handleBlur" :id="item.q_mapname" :name="item.q_mapname">
                                                    <span :id="item.q_mapname +'1'" style="color:red;"></span>
                                                    <span :id="item.q_mapname +'2'" style="color:red;"></span>

                                                </div>
                                            </div>
                                            <div class="form-group inputstyle" v-if="item.q_type == 2">
                                                <label v-text="item.q_title"></label>
                                                <textarea class="form-control" v-model="item.answer" v-on:blur="handleBlur" :id="item.q_mapname" :name="item.q_mapname"></textarea>
                                                <span :id="item.q_mapname +'1'" style="color:red;"></span>
                                                <span :id="item.q_mapname +'2'" style="color:red;"></span>

                                            </div>
                                            <div class="form-group inputstyle" v-if="item.q_type == 3">
                                                <label v-text="item.q_title"></label>
                                                <div>
                                                    <select class="form-control" v-model="item.answer" v-on:blur="handleBlur" :id="item.q_mapname" :name="item.q_mapname">
                                                        <option v-for="data in item.q_ddldata" v-bind:value="data.opt_value" v-text="data.opt_title"></option>
                                                    </select>
                                                    <span :id="item.q_mapname +'1'" style="color:red;"></span>
                                                    <span :id="item.q_mapname +'2'" style="color:red;"></span>

                                                </div>
                                            </div>

                                            <div class="form-group inputstyle" v-if="item.q_type == 4">
                                                <label v-text="item.q_title"></label>
                                                <div>
                                                    <select class="form-control" v-model="item.answer" v-on:blur="handleBlur" :id="item.q_mapname" :name="item.q_mapname">
                                                        <option value="null">Please select</option>
                                                        <option value="1">Yes</option>
                                                        <option value="0">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group inputstyle" v-if="item.q_type == 5">
                                                <label v-text="item.q_title"></label>
                                                <div class="input-group ">
                                                    <input type="date" class="form-control" v-on:blur="handleBlur" v-model="item.answer" :id="item.q_mapname" :name="item.q_mapname">


                                                </div>
                                                <span :id="item.q_mapname +'1'" style="color:red;"></span>
                                                <span :id="item.q_mapname +'2'" style="color:red;"></span>

                                            </div>
                                            <div class="form-group inputstyle" v-if="item.q_type == 6">
                                                <label v-text="item.q_title"></label>
                                                <input type="text" class="form-control" v-model="item.answer" v-on:blur="handleBlur" :id="item.q_mapname" :name="item.q_mapname">
                                            </div>
                                            <div class="form-group inputstyle" v-if="item.q_type == 7">
                                                <label v-text="item.q_title"></label>
                                                <input type="text" class="form-control" v-model="item.answer" v-on:blur="handleBlur" :id="item.q_mapname" :name="item.q_mapname">
                                            </div>





                                            <div class="form-group inputstyle" v-if="item.q_type == 8">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <label v-text="item.q_title"></label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-control">
                                                            <label style="margin-bottom: 15px;" class="kt-checkbox kt-checkbox--bold kt-checkbox--success">
                                                                <input type="checkbox" v-model="item.answer" v-on:input="checkedLearner" :id="item.q_mapname" :name="item.q_mapname">
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group inputstyle" v-if="item.q_type == 9">
                                                <label v-text="item.q_title"></label>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-control">
                                                            <label>
                                                                <input type="file" v-model="item.answer" ref="file" @@change="previewFiles" :id="item.q_mapname" :name="item.q_mapname">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6" v-if="item.bin_answer != null">
                                                        <div v-show="false">
                                                            {{fileData=item.bin_answer }}
                                                            {{file_extension= item.q_file_extension}}
                                                            {{fileName=item.q_title}}
                                                        </div>
                                                        <button type="button" class="btn btn-primary" v-model="item.bin_answer" v-on:click="downloadFile" :id="item.q_mapname" :name="item.q_mapname">Download</button>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group" v-if="item.q_type == 10">
                                                <div class="row">
                                                    <label class="col-lg-4 col-form-label" v-text="item.q_title"></label>
                                                    <div class="col-lg-8">
                                                        <select class="form-control" v-on:blur="handleBlur" :id="item.q_mapname" :name="item.q_mapname" v-model="item.answer">
                                                            <option v-for="level in CourseLevel" v-bind:value="level.CL_Id" v-text="level.CL_Title"></option>

                                                        </select>



                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <div v-if="item.q_type == 14">
                                                    <label>{{item.q_title}}</label>
                                                    <div class="kt-radio-inline">
                                                        <label class="kt-radio">
                                                            <input type="radio" :checked="item.answer == '1'" v-on:input="checkedLearner" :id="item.q_mapname" :name="item.q_mapname"> Yes
                                                            <span></span>
                                                        </label>
                                                        <label class="kt-radio">
                                                            <input type="radio" :checked="item.answer == '0'" v-on:input="checkedLearner" :id="item.q_mapname" :name="item.q_mapname">  No
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-if="item.q_type == 13">
                                                <div class="col-lg-6">
                                                    <input style="margin-bottom:10px;" type="text" @@keyup="txtPrintName($event)" :id="printName" :value="printName" class="form-control input-sm" placeholder="type your full name...">
                                                    <span style="margin-bottom:10px;" id="btnClearPrintName" class="btn btn-primary">Clear Print Name</span>
                                                </div>
                                                <div id="panel_signature">
                                                    <!-- Please sign in the box: -->

                                                    <div class="">
                                                        <div class="signature_wrapper">
                                                            <div class="wrapper">
                                                                <canvas id="signaturepad" class="signature-pad" width="500" height="100"></canvas>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <br />
                                                            <input type="hidden" id="sketch_data" name="sketch_data" />
                                                            <input type="hidden" id="hid_printname" name="hid_printname" />
                                                            <input type="hidden" id="hid_dt" name="hid_dt" />
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>



                                        </template>
                                    </div>
                                </div>
                            </div>

                            <!--end: Form Wizard Step 5-->
                            <!--begin: Form Actions -->
                            <div class="kt-form__actions">
                                <button  class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
                                    Previous
                                </button>
                                <button :disabled="isValid || isValid2" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
                                    Submit
                                </button>
                                <button :disabled="isValid || isValid2" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
                                    Next Step
                                </button>
                            </div>

                            <!--end: Form Actions -->
                        </form>

                        <!--end: Form Wizard Form-->
                    </div>
                </div>

                <div class="form-group">
                    <button :disabled="isValid || isValid2"  v-on:click="AddExitApplication"  class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                        Save & Exit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles{
    <link href="~/Theme/assets/css/pages/wizard/wizard-1.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .signature_wrapper {
            background-color: #808080;
            width: 520px;
            height: 120px;
        }

        .wrapper {
            background-color: #ffffff;
            position: relative;
            width: 500px;
            height: 100px;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            left: 10px;
            top: 10px;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
        }

        .signature-pad {
            position: absolute;
            left: 0;
            top: 0;
            width: 400px;
            height: 100px;
        }
    </style>
}

@section Scripts{
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/vue/vuelidate.min.js"></script>
    <script src="~/lib/vue/validators.min.js"></script>
    <script src="~/lib/vue-router/vue-router.min.js"></script>
    <script src="~/js/Admin/Applications/signature_pad.min.js"></script>
    @*<script src="~/Theme/assets/js/pages/custom/wizard/wizard-1.js" type="text/javascript"></script>*@
    <script src="~/js/Admin/Applications/Progress.js"></script>
}
<script>
    var _app_id;
    $(document).ready(function () {
        _app_id = @app_Id;

        app.Populate();
        app.mounted();
        $("#btnClearPrintName").click(function () {
        //var btnClearPrint = document.getElementById('txtPrintName');
        $("#txtPrintName").val("");

            var canvas = document.getElementById('signaturepad'),
                context = canvas.getContext('2d');
            context.clearRect(0, 0, canvas.width, canvas.height);

        });

        $("#txtPrintName").keyup(function (event) {
            debugger;
            var stt = $(this).val();
            var lng = stt.length;
            var fnt = 30;
            //max 20!
            if (lng < 20) { fnt = 30; }
            else if (lng < 30) { fnt = 20; }
            else { fnt = 15; }

            var canvas = document.getElementById('signaturepad');
            var context = canvas.getContext('2d');
            context.clearRect(0, 0, canvas.width, canvas.height);
            var fntsize = fnt + 'pt';
            context.font = 'italic ' + fntsize + ' Sacramento, cursive ';
            context.fillText(stt, 50, 60);
        });
    });

</script>