<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #db8b0b !important;">
                <h4 class="modal-title" style="color:white;">
                    <label id="lblNotification">Notification</label>
                </h4>
            </div>
            <div class="modal-body" style="font-size: initial;">
                <label id="lblMsg"></label>
            </div>
            <div class="modal-footer" style="padding: .5rem!important;">
                <button id="btnExpiredOk" onclick="sessionExpiredRedirect()" type="button" class="btn btn-primary" data-dismiss="modal" style="padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; border: 1px solid transparent; border-radius: 4px; background-color: #428bca; color: #FFF;">Close</button>
            </div>
        </div>
    </div>
</div>

