@using Kendo.Mvc.UI
@{ ViewData["Title"] = "My Document";

    Layout = "~/Views/Shared/_Layout_Portal.cshtml";

    var permissions = (portal.models.RoleAdmin.Permissions)ViewBag.Permissions;

    var canRoleManagerAccessMyDoc = (permissions == null) ? false : (bool)permissions["AC_MYDOC"];

    var acceptDocumentTypes = ViewBag.acceptDocumentTypes;
    var isMultipleDocumentUpload = ViewBag.isMultipleDocumentUpload;
    var maxDocumentUpload = ViewBag.maxDocumentUpload;
    var maxDocumentFileSize = ViewBag.maxDocumentFileSize; }
<style>
    .link-text:hover {
        color: #22b9ff !important;
    }

    .kt-portlet .kt-portlet__foot {
        padding: 10px 5px 10px 10px !important;
    }

    .k-grid-header .k-filterable, .k-grid-header .k-with-icon {
        padding-right: calc(1px + .5rem + 1.5em + .5rem);
    }
</style>

<div class="content" id="dv_Portal_MyDocument">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <label id="lblUserHeader" style="font-size: large;font-weight:500;margin-left:-10px;margin-top:20px;">My Document</label>
            <div class="kt-portlet__head-toolbar">




            </div>
        </div>
        <section class="content">
            <div class="kt-portlet__body">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-lg-9">

                        </div>
                        @*<div class="col-lg-3">
                                <input class="form-control" placeholder="Search Company" style="margin-bottom:10px;" id="search" type="text" autocomplete="off" />
                            </div>*@

                    </div>

              <div class="">
               <div class="kt-portlet kt-portlet--height-fluid">

            @(Html.Kendo().Grid<crm.portal.OscaModel.LearnerDoc>()
            .Name("gridmylearner")
            .Columns(columns =>
            {

                columns.Bound(p => p.Title).Title("Title").Width(200);
                //columns.Bound(p => p.Lead_DateOfEnquiry_D).Format("{0:dd/MM/yyyy}").Title("Enquiry").Width(120);
                columns.Bound(p => p.cat).Title("Type").Width(180);
                columns.Template("<div class='kt-font-primary'><a class='kt-font-brand' style='cursor:pointer;' title='Download' onclick=downlaodFile('#:Id#') ><span style='text-align:center;' class='fa fa-download'></span></a>" +
                                  "</div>").Width(50).ClientHeaderTemplate(" ");
            })
            .Resizable(resize => resize.Columns(true))
            .Reorderable(x => x.Columns(true))
            .ColumnMenu(c => c.Columns(true))
            .Scrollable()
            .Sortable()
            .Filterable(f => f.Messages(m => m.IsFalse("No")).Messages(m => m.IsTrue("Yes")))
            .Sortable(sortable =>
            {
                sortable.SortMode(GridSortMode.SingleColumn);
            })
            .Pageable()
            .NoRecords()
            .Filterable()
            .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
            .DataSource(dataSource =>
            dataSource
            .WebApi()
            .Model(model =>
            {
                model.Id(p => p.Id);
            })
            //.Events(events => events.Error("error_handler")) ---TODO
            .Read(read => read.Action("GetMyDocument", "PortalMyDocumentApi"))
            .PageSize(30)
            )
            )

                            @*<div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Type</th>
                                            <th>Action</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr v-for="item in documents">
                                            <td>{{item.Title}}</td>
                                            <td>{{item.cat}}</td>

                                            <td><a class='kt-font-primary' style='cursor:pointer;' v-on:click="downlaodFile(item.FilePath)" title='Downlaod'> <span style='text-align:center;' class='fa fa-download'></span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>*@
                        </div>

               </div>
              </div>
            </div>
        </section>
    </div>



</div>


<script>
    var _canRoleManagerAccessMyDoc;

        $(document).ready(function () {

            _canRoleManagerAccessMyDoc = @canRoleManagerAccessMyDoc.ToString().ToLower();


            if (!_canRoleManagerAccessMyDoc) {
                window.location.href = '/Error/PermissionDenied';
            }
        })
        $('.summernote').summernote({
            placeholder: '',
            tabsize: 4,
            height: 100
        });
   
</script>


@section Scripts{
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/vue/vuelidate.min.js"></script>
    <script src="~/lib/vue/validators.min.js"></script>
    @*<script src="~/js/Portal/Index.js"></script>*@
    <script src="~/js/Portal/MyDocument/Manage.js"></script>
}