<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">

    <!--begin: Search -->
    <div class="kt-header__topbar-item kt-header__topbar-item--search">
        <div class="kt-header__topbar-wrapper">

            <!--[html-partial:include:{"file":"partials/_topbar/dropdown/search-inline.html"}]/-->
            <partial name="/Views/Shared/partials/_topbar/dropdown/search-inline.cshtml" />
        </div>
    </div>

    <!--end: Search -->
    <!--begin: Notifications -->

    @*<div class="kt-header__topbar-item dropdown">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
            <span class="kt-header__topbar-icon kt-header__topbar-icon--success"><i class="flaticon2-bell-alarm-symbol"></i></span>
            <span class="kt-hidden kt-badge kt-badge--danger"></span>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
            <form>

                <partial name="/Views/Shared/partials/_topbar/dropdown/notifications.cshtml" />
            </form>
        </div>
    </div>*@

    <!--end: Notifications -->
    <!--begin: Quick actions -->

    @*<div class="kt-header__topbar-item dropdown">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
            <span class="kt-header__topbar-icon kt-header__topbar-icon--warning"><i class="flaticon2-gear"></i></span>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
            <form>

                <partial name="/Views/Shared/partials/_topbar/dropdown/quick-actions.cshtml" />
            </form>
        </div>
    </div>*@

    <!--end: Quick actions -->
    <!--begin: Cart -->
    @*<div class="kt-header__topbar-item dropdown">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
            <span class="kt-header__topbar-icon kt-header__topbar-icon--brand"><i class="flaticon2-shopping-cart-1"></i></span>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
            <form>
                <partial name="/Views/Shared/partials/_topbar/dropdown/my-cart.cshtml" />
            </form>
        </div>
    </div>*@

    <!--end: Cart-->
    <!--begin: Language bar -->
    @*<div class="kt-header__topbar-item kt-header__topbar-item--langs">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
            <span class="kt-header__topbar-icon kt-header__topbar-icon--brand">
                <img class="" src="~/Theme/assets/media/flags/260-united-kingdom.svg" alt="" />
            </span>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim">
            <partial name="/Views/Shared/partials/_topbar/dropdown/languages.cshtml" />
        </div>
    </div>*@

    <!--end: Language bar -->
    <!--begin: User bar -->

    @if (ViewBag.UserName != "" && ViewBag.UserName != null)
    {
        <div class="kt-header__topbar-item kt-header__topbar-item--user">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                <span class="kt-hidden kt-header__topbar-welcome">Hi,</span>
                <span class="kt-hidden kt-header__topbar-username">abc</span>
                <img class="kt-hidden" alt="Pic" src="~/Theme/assets/media/users/300_21.jpg" />
                <span class="kt-header__topbar-icon"><i class="flaticon2-user-outline-symbol"></i></span>
            </div>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

                <!--[html-partial:include:{"file":"partials/_topbar/dropdown/user.html"}]/-->
                <partial name="/Views/Shared/partials/_topbar/dropdown/user.cshtml" />
            </div>
        </div>
    }
    else
    {
        <div class="kt-header__topbar-item kt-header__topbar-item--langs">
            <div class="kt-header__topbar-wrapper" data-offset="10px,0px">
                <span class="kt-header__topbar-icon kt-header__topbar-icon--brand">
                    <a asp-controller="Account" asp-action="Login"><i class="flaticon2-user"></i> </a>
                </span>
            </div>
        </div>
    }


    <!--end: User bar -->
    <!--begin: Quick panel toggler -->

    @*<div class="kt-header__topbar-item kt-header__topbar-item--quickpanel" data-toggle="kt-tooltip" title="Quick panel" data-placement="top">
        <div class="kt-header__topbar-wrapper">
            <span class="kt-header__topbar-icon" id="kt_quick_panel_toggler_btn"><i class="flaticon2-cube-1"></i></span>
        </div>
    </div>*@

    <!--end: Quick panel toggler -->
</div>

<!-- end:: Header Topbar -->

<script>
    $(document).ready(function () {
        
        getUserLogoImage();
    });
function getUserLogoImage()
{
    $.ajax({
        url: "/api/UserProfileApi/GetUserById",
        type: "GET",
        contentType: "application/json",
        dataType: "json"
    }).done(function (response) {
        if (response.Users_Image === undefined || response.Users_Image === null) {
            $("#userLogoImg").attr("src", "/Images/user2-160x160.jpg");
        }
        else {
            $("#userLogoImg").attr("src", response.Users_Image);
        }
    }).fail(function (xhr) {
        toastr.error(xhr.responseText, 'Error!');
    });
}
</script>