
<!-- begin:: Header -->
	<div id="kt_header" class="kt-header kt-grid kt-grid--ver  kt-header--fixed " style="height:50px;">

		<!--[html-partial:include:{"file":"partials/_header/_menu.html"}]/-->
		<partial name="/Views/Shared/partials/_header/_menu.cshtml" />

		<!--[html-partial:include:{"file":"partials/_header/_topbar.html"}]/-->
		<partial name="/Views/Shared/partials/_header/_topbar.cshtml" />
	</div>

<!-- end:: Header -->